# Set to "true" to use internal mock data (no real APIs needed)
ENABLE_MOCKS=true


# External app API base URLs and keys(used when ENABLE_MOCKS=false)
BUYER_API_URL=https://your-buyer-app.vercel.app
BUYER_API_KEY=your_buyer_api_key
SELLER_API_URL=https://your-seller-app.vercel.app
SELLER_API_KEY=your_seller_api_key
SHIPPING_API_URL=https://your-shipping-app.vercel.app
SHIPPING_API_KEY=your_shipping_api_key
PAYMENTS_API_URL=https://your-payments-app.vercel.app
PAYMENTS_API_KEY=your_payments_api_key

# Clerk Auth Config
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=


# AI API Config
GEMINI_API_KEY=